.main_div {
    width: 300px;
    height: 220px;
}

.div_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    margin-top: 10px;
    height: 40px;
    width: 80px;
    background-color: orange;
    border: 0px;
    border-radius: 2px;
    color: white;
    box-shadow: 5px 5px 9px -2px rgba(115, 137, 131, 1);
    float: right;
    padding-right: 10px;
}

.textField {
    border: 1px solid coral;
    margin: 10px;
    width: 200px;
    height: 36px;
    margin-left: 8px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}

.textField:focus {
    border: 1px solid blue;
}