<div class="main_div">
    <form ngNativeValidate action="/action_page.php">
        <h1 class="">User Details {{selectedProject.name}}</h1>
        <div class="div_1">
            <input class="textField" type="text" placeholder="Name" required>
            <input class="textField" type="text" pattern="[0-9]{10}" maxlength=10 required placeholder="Phone">

            <input class="textField" type="email" placeholder="Email-Id (Optional)">
            <!--  pattern="(\w+[@]\w+[.]+\w+)+\.?\w+" required -->
        </div>
        <input type="submit" class="btn">
    </form>
</div>