.container {
  display: fixed;
}

.loginHolder {
  text-align: center;
  background-color: white;
  display: inline-block;
  position: relative;
  left: 50%;
  margin-top: 5%;
  transform: translateX(-50%);
  padding: 10px;
  box-shadow: 5px 3px 15px -1px rgba(0, 0, 0, 0.5);
}

.textField {
  height: 40px;
  width: 250px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.textField:focus {
  outline: burlywood;
  border: 1px solid #00ce81;
}

.submitButton {
  cursor: pointer;
  height: 30px;
  width: 100px;
  background-color: coral;
  outline: none;
  color: white;
  border: 0px;
  margin-bottom: 10px;
}
