<div class="container">
    <form action="" method="POST">
        <div class="loginHolder">
            <h2 ngModel>{{str}}</h2>
            <input id="email" class="textField" type="text" placeholder="your@example.com"><br />
            <input id="password" class="textField" type="password" placeholder="password"><br />
            <label style="color: rgb(49, 177, 252);text-align: right;display: block;cursor: pointer;"
                (click)="forgotPassword()">Forgot password?</label><br />
            <input class="submitButton" (click)="validateLogin()" type="button" value="Submit">
        </div>
    </form>
</div>