.div-img {
    height: 300px;
    width: 100%;
    position: relative;
}

.bannerParent {
    margin-left: 20px;
    margin-right: 20px;
}

.sideImage {
    height: 300px;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
}

p {
    margin: 20px;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.rowLayout {
    display: flex;
    flex-direction: row;
}