.menu {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  border-bottom: 1px solid rgb(218, 209, 209);
}

.menuSpace {
  padding-right: 20px;
  padding-top: 12px;
  margin: 10px;
}

.subMenuSpace {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 52px;
  margin: 8px 0 0px;
}
.subMenuSpace1 {
  font: 400 16px/28px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: -24px 0 0px;
}

.login_img {
  width: 20px;
  height: 36px;
  position: absolute;
  padding-left: 22px;
}

.search_img {
  width: 20px;
  height: 36px;
  position: absolute;
  padding-left: 30px;
}
.login_search {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  cursor: pointer;
}

.createRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer_area {
  display: flex;
  background-color: black;
  color: white;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.f_item {
  color: white;
}

.copy {
  color: goldenrod;
}

.dashboard {
  margin-top: 100px;
}

.logo {
  height: 40px;
  width: 40px;
  padding-right: 4px;
}
