<!-- Header Start -->
<div class="menu">

    <div class="createRow">
        <img class="logo" src="assets/logo.jpg" alt="searchLogo">
        <h2 class="menuSpace">Menu</h2>
    </div>

    <div class="createRow">
        <img class="logo" src="assets/building.svg" alt="">
        <div class="subMenuSpace">
            <h1>RAJESH</h1>
            <h3 class="subMenuSpace1">GROUP OF COMPANIES</h3>
        </div>
    </div>
    <div class="createRow">
        <!-- <div class="login_search">
            <img class= "search_img" src="assets/search.svg" alt="Search">
            <h2 class="menuSpace">Search</h2>
        </div> -->
        <div class="login_search" (click)="login()">
            <img class="login_img" src="assets/login.svg" alt="login">
            <h2 class="menuSpace">Login</h2>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Login Form  -->

<!-- <div class="login_form">
    <app-login></app-login>
</div>  -->
<div class="app-dashboard">
    <router-outlet></router-outlet>
    <!-- <app-dashboard></app-dashboard> -->
</div>

<!-- Footer Start -->

<!-- <div class="footer_area">
    <h2>RAJESH</h2>
    <h2>Site Map Terms & Conditions Privacy Policy</h2>
    <h2>Copyright</h2>
</div> -->