<div class="container">
    <h2>{{header}}</h2>
    <form method="POST" action="">
        <input id="email" type="text" class="textField" [placeholder]="firstPlaceHolder" required><br />
        <input id="password" type="number" class="textField" [placeholder]="placeHolder"><br />
        <input type="button" class="sendOTP" (click)="sendOTP()" value={{buttonName}}>
    </form>
</div>