.container {
  text-align: center;
}

.textField {
  height: 40px;
  width: 250px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.textField:focus {
  outline: burlywood;
  border: 1px solid #00ce81;
}

.sendOTP {
  cursor: pointer;
  margin-top: 20px;
  padding: 8px;
  height: 30px;
  color: white;
  background-color: coral;
  outline: none;
  border: 0px;
}
