<div class="banner">
    <img id="bannerID" src="assets/Mahaveer Recidancy.jpg">

    <div class="dot_place">
        <ng-container *ngFor="let item of imageList;let j=index;">
            <div class="dot" [ngClass]="{backcolor:(j==i)}"></div>
        </ng-container>
    </div>
</div>




<div class="dashboard_row">
    <div *ngFor="let site of sitesProject;let i = index" class="dashboard_col" (click)="openDialog(i)">
        <img src="https://firebasestorage.googleapis.com/v0/b/bhangarwalaexpress.appspot.com/o/products%2FAll%20Type%20Raw%20Material?alt=media&token=977f0289-3443-475b-8fb3-4f70ea17e8ac" alt={{site.site_name}} >
        <h2>{{site.site_name}} </h2>
        <p class="para">{{site.description}}</p>
    </div>
</div>