.banner {
    height: 300px;
    width: -moz-fit-content;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    box-shadow: 8px 8px 9px -2px rgba(11, 137, 131, 1);
}

.dot_place {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.dot {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 10px;
    border-radius: 8px;
    background-color: silver;

}

.backcolor {
    background-color: orange
}

.banner img {
    height: 300px;
    width: 100%;
    object-fit: fill;
    margin-right: 10px;
}

.dashboard_row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-left: 10px;
    padding-top: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.dashboard_col {
    margin: 10px;
    border: 1px solid#ccc;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 9px -2px rgba(115, 137, 131, 1);
}

.dashboard_col img {
    width: 200px;
    height: 200px;
}

.para {
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}